.product {
    max-width: 100%;
    min-height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;

    .cards {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        .card {
            width: 30%;
            height: 530px;
            text-align: center;

            .heart {
                position: absolute;
                top: 30px;
                right: 23px;
                font-size: 27px;
                cursor: pointer;
                color: black;
            }

            .eye {
                position: absolute;
                top: 70px;
                right: 23px;
                font-size: 27px;
                cursor: pointer;
                color: black;
            }



            position: relative;
            border: 1px solid gray;

            img {
                width: 200px;
                height: 370px;
            }

            .write {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }


            button {
                z-index: 1;
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 50px;
                background-color: black;
                color: white;
                border: none;
                bottom: 0;
                left: 0;
                transition: 0.5s;

            }

            &:hover {
                button {
                    opacity: 1;
                }

            }
        }
    }
}

@media only screen and (min-width: 300px) and (max-width:600px) {
    .products {
        width: 100%;
        height: auto;
        .cards{
            width: 80%;
            .card{
                width: 80%;
            }
        }

    }
}


@media only screen and (min-width: 600px) and (max-width:1200px) {
    .products {
        width: 100%;
        height: auto;
        .cards{
            width: 80%;
            .card{
                width: 80%;
            }
        }


    }
}
